.container {
  width: 90%;
  margin: 20px auto;
}

canvas {
  width: 100%;
  height: 250px;
  max-height: 250px;
  margin-bottom: 32px;
}

button {
  margin-right: 8px;
  margin-bottom: 8px;
}

mat-slider {
  width: 100%;
}