frontend/node_modules/**
frontend/dist/**
backend/venv/**
backend/.vscode/launch.json
frontend/.angular/cache/21.0.3/audio-frontend/.tsbuildinfo
frontend/.angular/cache/21.0.3/audio-frontend/vite/com.chrome.devtools.json
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/_metadata.json
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_cdk_bidi.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_cdk_bidi.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_common_http.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_common_http.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_common.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_common.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_core.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_core.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_forms.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_forms.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_material_slider.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_material_slider.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_platform-browser.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_platform-browser.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_router.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/@angular_router.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chart__js.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chart__js.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-6SPURB2X.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-6SPURB2X.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-52OSF3UI.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-52OSF3UI.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-653SOEEV.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-653SOEEV.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-AJ5IVVNO.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-AJ5IVVNO.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-GXWCXZU6.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-GXWCXZU6.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-KMY46QD7.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-KMY46QD7.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-M7ENWG43.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-M7ENWG43.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-RSS3ODKE.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-RSS3ODKE.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-RXRFAOEB.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-RXRFAOEB.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-ZNTLAJJX.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-ZNTLAJJX.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/ng2-charts.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/ng2-charts.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/package.json
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/rxjs.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/rxjs.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/socket__io-client.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/socket__io-client.js.map
frontend/.angular/cache/21.0.3/audio-frontend/angular-compiler.db
frontend/.angular/cache/21.0.3/audio-frontend/angular-compiler.db-lock
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-7EJHHVHT.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-7EJHHVHT.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-CGRV5F5T.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-CGRV5F5T.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-EX7QE4EZ.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-EX7QE4EZ.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-FRA6YJUL.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-FRA6YJUL.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-MTTB26NE.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-MTTB26NE.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-NUVBHD63.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-NUVBHD63.js.map
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-W2CVHHE2.js
frontend/.angular/cache/21.0.3/audio-frontend/vite/deps/chunk-W2CVHHE2.js.map
